<center>
  <div class="someFormDiv">
    <form action="login" method="post">
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" name="email" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
    <p>...</p>
    <a class="btn btn-primary" href="signin">Sign In</a>
  </div>
</center>